# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
myenv/

# Ignore environment variable files
.env
app.py
index.html

# Ignore other files or directories as needed
